                #parse("components/header.vm")
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Remote Agents</h4>
                                    <p class="category">Remote Agents Info and Status</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                        <th>ID</th>
                                        <th>UUID</th>
                                        <th>HostName</th>
                                        <th>OS</th>
                                        <th>Arch</th>
                                        <th>Task</th>
                                        <th></th>
                                        </thead>
                                        <tbody id="agents">
                                            #foreach($agent in $AGENTS)
                                            <tr id="agent_id${agent.getId()}">
                                                <td>${agent.getId()}</td>
                                                <td>${agent.getUuid()}</td>
                                                <td>${agent.getHostName()}</td>
                                                <td>${agent.getOsName()}</td>
                                                <td>${agent.getOsArch()}</td>
                                                <td>${agent.getTask()}</td>
                                                <td>
                                                    #if($agent.isAvailable())
                                                    <button class="btn btn-success btn-round btn-just-icon">
                                                        <i class="material-icons">autorenew</i>
                                                    #else
                                                    <button class="btn btn-danger btn-round btn-just-icon">
                                                        <i class="material-icons">error_outline</i>
                                                    #end
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                    <button class="btn btn-danger btn-round btn-just-icon" onclick="deleteAgent(${agent.getId()});">
                                                        <i class="material-icons">delete</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                #parse("components/footer.vm")
