                #parse("components/header.vm")
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                #if($CONTEST_STATE == "INITIAL" || $CONTEST_STATE == "AWAIT_START")
                                <div class="card-header" data-background-color="blue">
                                    <i class="material-icons" id="contest_state_icon">autorenew</i>
                                #elseif($CONTEST_STATE == "RUNNING")
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons" id="contest_state_icon">play_arrow</i>
                                #elseif($CONTEST_STATE == "PAUSED")
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons" id="contest_state_icon">pause</i>
                                #elseif($CONTEST_STATE == "AWAIT_COMPLETE" || $CONTEST_STATE == "COMPLETED")
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons" id="contest_state_icon">stop</i>
                                #elseif($CONTEST_STATE == "NOT_AVAILABLE")
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons" id="contest_state_icon">error_outline</i>
                                #end
                                </div>
                                <div class="card-content">
                                    <p class="category">Round</p>
                                    <h3 class="title" id="contest_round">${CONTEST_ROUND}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats" id="contest_state">
                                        #if($CONTEST_STATE == "INITIAL")
                                        Contest is initialized
                                        #elseif($CONTEST_STATE == "AWAIT_START")
                                        Contest is starting
                                        #elseif($CONTEST_STATE == "RUNNING")
                                        Contest is running
                                        #elseif($CONTEST_STATE == "PAUSED")
                                        Contest is paused
                                        #elseif($CONTEST_STATE == "AWAIT_COMPLETE")
                                        Contest is preparing to complete
                                        #elseif($CONTEST_STATE == "COMPLETED")
                                        Contest is completed
                                        #elseif($CONTEST_STATE == "NOT_AVAILABLE")
                                        Themis integration is disabled
                                        #end
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="purple">
                                    <i class="material-icons">trending_up</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Queued</p>
                                    #set($QUEUED_TOTAL = ${FLAG_STATS.getQueued()[0]} + ${FLAG_STATS.getQueued()[1]} + ${FLAG_STATS.getQueued()[2]})
                                    <h3 class="title" id="flag_stats_qt">${QUEUED_TOTAL}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">trending_up</i> <span id="flag_stats_qh">${FLAG_STATS.getQueued()[0]}</span>
                                        <i class="material-icons text-info">trending_flat</i> <span id="flag_stats_qn">${FLAG_STATS.getQueued()[1]}</span>
                                        <i class="material-icons text-success">trending_down</i> <span id="flag_stats_ql">${FLAG_STATS.getQueued()[2]}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">done_all</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Accepted</p>
                                    <h3 class="title" id="flag_stats_ac">${FLAG_STATS.getAccepted()}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        Total flags accepted
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons">error_outline</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Rejected</p>
                                    <h3 class="title" id="flag_stats_rj">${FLAG_STATS.getRejected()}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        Total flags rejected
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="green">
                                    <h4 class="title">Last Flags</h4>
                                    <p class="category">Last update on: <span id="last_updated">${TIME_STAMP}</span></p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th>Content</th>
                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Time</th>
                                        </thead>
                                        <tbody id="flags">
                                        #foreach ($flag in $FLAGS)
                                            <tr id="flag_id${flag.getId()}">
                                                <td class="text-muted">${flag.getFlag()}</td>
                                                <td>${flag.getPriority()}</td>
                                                #if( $flag.getStatus() == "QUEUED" )
                                                <td class="text-info">${flag.getStatus()}</td>
                                                #elseif( $flag.getStatus() == "ACCEPTED" )
                                                <td class="text-success">${flag.getStatus()}</td>
                                                #elseif( $flag.getStatus() == "REJECTED" )
                                                <td class="text-danger">${flag.getStatus()}</td>
                                                #else
                                                <td class="text-primary">${flag.getStatus()}</td>
                                                #end
                                                <td>${flag.getCreateTimeStamp()}</td>
                                            </tr>
                                        #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                #parse("components/footer.vm")