                #parse("components/header.vm")
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Traffic Info</h4>
                                    <p class="category">View Packet by Service</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th>Service</th>
                                            <th>Direction</th>
                                            <th>Client</th>
                                            <th>Length</th>
                                            <th>Transmission ID</th>
                                            <th>Time</th>
                                            <th></th>
                                        </thead>
                                        <tbody id="packets">
                                            #foreach($packet in $TRAFFIC)
                                            <tr id="packet_id${packet.getId()}">
                                                <td>${packet.getService().getName()}</td>
                                                <td>
                                                    #if($packet.isInbound())
                                                    <i class="material-icons text-danger">keyboard_arrow_left</i>
                                                    #else
                                                    <i class="material-icons text-success">keyboard_arrow_right</i>
                                                    #end
                                                </td>
                                                <td>${packet.getClientHost()}:${packet.getClientPort()}</td>
                                                <td>${packet.getPayloadSize()}</td>
                                                <td>${packet.getTransmission()}</td>
                                                <td>${packet.getTime()}</td>
                                                <td>
                                                    <button class="btn btn-info btn-round btn-just-icon" onclick="requestTCPPacketView(${packet.getId()});">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Service</label>
                                                <select class="form-control" id="filter_service">
                                                    <option value="any">Any</option>
                                                    #foreach($service in $SERVICES)
                                                        <option value="${service.getId()}">${service.getName()} (${service.getPort()})</option>
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Direction</label>
                                                <select class="form-control" id="direction">
                                                    <option value="all">Both</option>
                                                    <option value="in">Inbound</option>
                                                    <option value="out">Outbound</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Client</label>
                                                <input type="text" id="client" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Transmission ID</label>
                                                <input type="text" id="transmission" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Data (not implemented)</label>
                                                <input type="text" id="data" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Limit</label>
                                                <input type="text" id="limit" class="form-control" value="50">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Offset</label>
                                                <input type="text" id="offset" class="form-control" value="0">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="packetView" tabindex="-1" role="dialog" aria-labelledby="packetView" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title w-100" id="packetViewTitle">Packet View</h4>
                                        </div>
                                        <!--Body-->
                                        <div class="modal-body tab-pane">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#packetViewHEX">HEX</a></li>
                                                <li><a data-toggle="tab" href="#packetViewASCII">ASCII</a></li>
                                            </ul>


                                            <div class="tab-content">
                                                <div id="packetViewHEX" class="tab-pane active">
                                                    <pre id="packetHEX"></pre>
                                                </div>
                                                <div id="packetViewASCII" class="tab-pane">
                                                    <pre id="packetASCII"></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Footer-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                #parse("components/footer.vm")